@import "tailwindcss";

@theme {
  --color-mate-100: #ebeffa;
  --color-mate-200: #dde3f7;
  --color-mate-300: #cfd8f4;
  --color-mate-400: #abbced;
  --color-mate-500: #8294e3;
  --color-mate-600: #5879da;
  --color-mate-700: #4265cc;
  --color-mate-800: #2c51be;
  --color-mate-900: #294cb5;

  /* Base / Mate / Opacity */
  --color-mate-opacity-50: rgba(66, 101, 204, 0.05);
  --color-mate-opacity-100: rgba(66, 101, 204, 0.09);
  --color-mate-opacity-200: rgba(66, 101, 204, 0.14);
  --color-mate-opacity-300: rgba(66, 101, 204, 0.27);
  --color-mate-opacity-400: rgba(66, 101, 204, 0.47);
  --color-mate-opacity-500: rgba(66, 101, 204, 0.8);

  /* Semantic */
  --color-mate-fill: #4265cc;
  --color-mate-fill-weak: rgba(66, 101, 204, 0.16);
  --color-mate-text: #4265cc;
  --color-mate-icon: #4265cc;
}

body {
  margin: 0;
}

@utility scrollbar-hide {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
